In [1]:
#Import the needed libraries
import pandas as pd
import numpy as np

# Data Preparation

In [3]:
#Load the data from the CSV file

puget = pd.read_csv('data_file_2015_NSC_records.csv')

#Look at the first five rows of the data

puget.head()

,Student_ID,Enrollment_Term,Term_Type,Student_Academic_Career,Degree_Seeking,Study_Form,Academic_Load_Term_Start,Academic_Load_Term_End,FTE_for_Reporting,Expected_Graduation,...,NSC_College_State,NSC_College_Sequence,NSC_2_Year_or_4_Year,NSC_Public_or_Private,NSC_Enrollment_Begin,NSC_Enrollment_End,NSC_Graduated,NSC_Degree_Title,NSC_Degree_Major_1,NSC_Degree_Major_2
0,465,Fall 2015,Fall,Undergraduate,Degree Seeking,Class Enrollment,Full-Time,Full-Time,1,Spring 2019,...,WA,1.0,4.0,Private,20150831.0,20151218.0,N,NaN,NaN,NaN
1,465,Fall 2015,Fall,Undergraduate,Degree Seeking,Class Enrollment,Full-Time,Full-Time,1,Spring 2019,...,WA,1.0,4.0,Private,20160119.0,20160513.0,N,NaN,NaN,NaN
2,465,Fall 2015,Fall,UGRD,DEG,ENRL,F,F,1,Spring 2019,...,WA,1.0,4.0,Private,20160516.0,20160812.0,N,NaN,NaN,NaN
3,465,Fall 2015,Fall,UGRD,DEG,ENRL,F,F,1,Spring 2019,...,WA,1.0,4.0,Private,20160829.0,20161216.0,N,NaN,NaN,NaN
4,465,Fall 2015,Fall,UGRD,DEG,ENRL,F,F,1,Spring 2019,...,WA,1.0,4.0,Private,20170117.0,20170512.0,N,NaN,NaN,NaN

In [4]:
# ind the total number of rows
total_rows = puget.shape[0]

print(f"Total number of rows in the dataset: {total_rows}")

Total number of rows in the dataset: 5621

In [5]:
#Examine if there are any missing values in the data
print(puget.isnull().sum())
#There are a lot of missing data in the NSC columns

Student_ID                     0
Enrollment_Term                0
Term_Type                      0
Student_Academic_Career        0
Degree_Seeking                 0
Study_Form                     0
Academic_Load_Term_Start       0
Academic_Load_Term_End         0
FTE_for_Reporting              0
Expected_Graduation            0
Major                          0
NSC_Record_Found               0
NSC_College_Code               7
NSC_College_Name               7
NSC_College_State              7
NSC_College_Sequence           7
NSC_2_Year_or_4_Year           7
NSC_Public_or_Private          7
NSC_Enrollment_Begin         454
NSC_Enrollment_End           454
NSC_Graduated                  0
NSC_Degree_Title            5178
NSC_Degree_Major_1          5178
NSC_Degree_Major_2          5541
dtype: int64

# Data Exploration/ Validation/ Cleaning

In [7]:
#1
#Find all unique values in the 'Student_ID' column
unique_values_Student_ID = puget['Student_ID'].unique()
unique_values_Student_ID

array([465, 567, 355, 227, 269,  10,  15, 354, 554, 520, 311, 107, 222,
       582, 455, 556, 200, 312, 597, 151, 607, 561,   7, 536, 443, 430,
       116, 408, 302, 215, 105, 108,  34,  98,  37, 631,  21, 149, 485,
       427, 605,  96, 534, 591, 409, 568, 231, 333, 571, 421, 255,  39,
       613,  75, 417,  92, 220, 344, 179,  86, 115, 258, 547,  84, 426,
       358, 566, 603, 495, 445, 533, 363, 428, 125, 470, 247, 498, 334,
       418,  29, 284, 522, 232,  47, 322, 382, 102, 516, 130, 133, 621,
       479,  80, 110,  64, 512, 111, 296, 482, 249, 501, 457, 584, 329,
       416, 188, 456, 581, 410, 318, 245, 464, 602,   9, 332, 267, 148,
       493, 235,  28, 328, 606, 320, 183, 623, 519, 303, 138, 376, 201,
       118, 315, 114, 326, 144, 549,  99, 234, 288, 223, 327,   2, 213,
       169, 370, 192,  78, 504,  90, 451, 488, 158, 348, 268, 260, 225,
       242,  33, 289, 460, 510, 319, 629, 525,  16, 297, 251, 121, 157,
       531, 379, 446, 142, 257, 310, 371, 173, 170, 406, 198, 604, 412,
       487, 283, 610, 253, 139, 461, 293,  81, 499, 532, 442, 339, 431,
       569, 500,  38, 550,  62,  17, 356,  30, 615, 515, 154, 153, 282,
       396,  77, 224, 517, 252, 143, 608, 560, 555, 600, 632,  46, 387,
       150, 546, 467,  58, 141, 357, 337,  20,  35, 325, 580, 189,  88,
       212, 458, 246, 180, 523, 489, 378, 240, 146, 364, 228, 230, 236,
       424, 109, 338, 206, 403,  41, 178, 286, 100, 452,  36,  24, 543,
       447, 509,   4,  63, 562, 429, 343,  91,   3, 264, 433, 132, 564,
       346, 444,   1, 308, 526, 450, 481, 435, 194, 622, 627, 167, 244,
        60, 508, 468, 259,  49, 480, 365, 209,  54, 524, 159,  13, 182,
       558, 609, 120, 497, 628, 486, 292, 295,  67, 351, 419, 423,  82,
       420, 277, 625, 187, 152, 624,  11, 618, 407,  76, 535, 256, 137,
        44, 404, 518, 399, 362, 181, 203,  45, 131, 275, 540, 513, 473,
        19, 352, 156, 197, 377, 127,  40, 539, 503, 195, 599, 345, 529,
       478,  43, 254, 279, 588, 270, 291, 211, 594, 589,  12, 136, 384,
       585, 164, 216,  79, 471, 276, 123, 483, 238, 160, 106, 190, 598,
       271, 161, 113, 208,  72, 575, 175, 229, 330, 441, 614, 165,  51,
       542, 541,  85,  89, 388, 218, 511, 280,   5, 570, 595, 391, 341,
       210, 324, 449, 375, 281,  53, 573, 586, 491, 134, 294, 626, 342,
       287, 104, 155, 521, 340, 537, 405,  48, 393, 577, 331, 392, 207,
       273, 466, 272, 386, 214, 101, 336, 163, 261, 217, 400, 219, 436,
       221, 395, 432,   6, 316, 135, 506, 596,  14, 576, 620,  70, 394,
       514,  83, 313, 239, 559, 528, 476,  94, 174, 545, 171, 397, 265,
       176, 422, 205, 360, 147, 579, 140, 630, 398, 380,  93, 366, 438,
        73, 250, 402, 314, 290, 414, 304, 347, 233, 374,  23, 592,  71,
       243, 262, 300, 162, 204, 469, 616, 301, 202, 128, 129, 172,  95,
       494,  32,  66,  97, 145, 226, 117, 119, 440, 381,  52,  87, 590,
       496, 425, 492, 335, 385, 168, 299, 196, 462, 601, 507, 383,  27,
       390, 237, 306, 263, 305, 633, 241, 454, 359,  50, 401, 266, 557,
       126, 413, 373, 538, 166, 548, 459, 437,  57, 193,   8, 617,  22,
       472, 361, 184, 453, 583, 298, 551,  61,  25, 578, 186,  26, 490,
       353, 349,  56, 191,  69, 475,  65, 415, 177, 484, 553, 124, 323,
       307, 611,  18, 369,  55, 530, 103, 411, 317, 565, 248, 448, 199,
       505, 439, 619, 527, 574, 474, 389,  68,  42, 112, 463, 274,  31,
       367,  59, 587, 477, 434, 368, 321, 122, 350, 372, 544, 285, 278,
       612, 185, 309, 563, 502, 572, 552,  74, 593], dtype=int64)

In [8]:
#Find if there are duplicates the 'Student_ID' column
duplicates = puget['Student_ID'].duplicated(keep=False)
duplicates

0       True
1       True
2       True
3       True
4       True
        ...
5616    True
5617    True
5618    True
5619    True
5620    True
Name: Student_ID, Length: 5621, dtype: bool

In [9]:
#Extract all duplicated Student_IDs
duplicate_ids = puget[duplicates]['Student_ID']
duplicate_ids

0       465
1       465
2       465
3       465
4       465
       ...
5616    593
5617    593
5618    593
5619    593
5620    593
Name: Student_ID, Length: 5601, dtype: int64

In [10]:
#2
#Find all unique values in the 'Enrollment_Term' column
unique_values_Enrollment_Type = puget['Enrollment_Term'].unique()
unique_values_Enrollment_Type

array(['Fall 2015', '2158'], dtype=object)

In [11]:
#Change the values '2158' to 'Fall 2015'
puget['Enrollment_Term'] = puget['Enrollment_Term'].replace('2158', 'Fall 2015')

In [12]:
#Check again 
#Find all unique values in the 'Enrollment_Term' column
unique_values_Enrollment_Type = puget['Enrollment_Term'].unique()
unique_values_Enrollment_Type

array(['Fall 2015'], dtype=object)

In [13]:
#3
#Find all unique values in the 'Term_Type' column
unique_values_Term_Type = puget['Term_Type'].unique()
unique_values_Term_Type

array(['Fall'], dtype=object)

In [14]:
#4
#Find all unique values in the 'Student_Academic_Career' column
unique_values_Student_Academic_Career = puget['Student_Academic_Career'].unique()
unique_values_Student_Academic_Career

array(['Undergraduate', 'UGRD', 'Undergrad'], dtype=object)

In [15]:
#Change the values of 'UGRD', 'Undergrad' to 'Undergraduate'
puget['Student_Academic_Career'] = puget['Student_Academic_Career'].replace({'UGRD': 'Undergraduate', 'Undergrad': 'Undergraduate'})

In [16]:
#Check again
#Find all unique values in the 'Student_Academic_Career' column
unique_values_Student_Academic_Career = puget['Student_Academic_Career'].unique()
unique_values_Student_Academic_Career

array(['Undergraduate'], dtype=object)

In [17]:
#5
#Find all unique values in the 'Degree_Seeking' column
unique_values_Student_Degree_Seeking = puget['Degree_Seeking'].unique()
unique_values_Student_Degree_Seeking

array(['Degree Seeking', 'DEG', 'Degree'], dtype=object)

In [18]:
#Change the values of 'Degree Seeking', 'DEG' to 'Degree'
puget['Degree_Seeking'] = puget['Degree_Seeking'].replace({'Degree Seeking': 'Degree', 'DEG': 'Degree'})

In [19]:
#Check again
#Find all unique values in the 'Degree_Seeking' column
unique_values_Student_Degree_Seeking = puget['Degree_Seeking'].unique()
unique_values_Student_Degree_Seeking

array(['Degree'], dtype=object)

In [20]:
#6
#Find all unique values in the 'Study_Form' column
unique_values_Study_Form = puget['Study_Form'].unique()
unique_values_Study_Form

array(['Class Enrollment', 'ENRL', 'Enrolled'], dtype=object)

In [21]:
#Change the values of 'Class Enrollment', 'ENRL' to 'Enrolled'
puget['Study_Form'] = puget['Study_Form'].replace({'Class Enrollment': 'Enrolled', 'ENRL': 'Enrolled'})

In [22]:
#Check again 
#Find all unique values in the 'Study_Form' column
unique_values_Study_Form = puget['Study_Form'].unique()
unique_values_Study_Form

array(['Enrolled'], dtype=object)

In [23]:
#7
#Find all unique values in the 'Academic_Load_Term_Start' column
unique_values_Academic_Load_Term_Start = puget['Academic_Load_Term_Start'].unique()
unique_values_Academic_Load_Term_Start

array(['Full-Time', 'F', 'FT'], dtype=object)

In [24]:
#Change the values of 'Full-Time', 'F' to 'FT'
puget['Academic_Load_Term_Start'] = puget['Academic_Load_Term_Start'].replace({'Full-Time': 'FT', 'F': 'FT'})

In [25]:
#Check again
#Find all unique values in the 'Academic_Load_Term_Start' column
unique_values_Academic_Load_Term_Start = puget['Academic_Load_Term_Start'].unique()
unique_values_Academic_Load_Term_Start

array(['FT'], dtype=object)

In [26]:
#8
#Find all unique values in the 'Academic_Load_Term_End' column
unique_values_Academic_Load_Term_End = puget['Academic_Load_Term_End'].unique()
unique_values_Academic_Load_Term_End

array(['Full-Time', 'F', 'Not Enrolled', 'Part-Time', 'FT', 'NONE', 'PT'],
      dtype=object)

In [27]:
#Change the values of 'Full-Time' and 'F' to 'FT'; 'Part-Time' to 'PT; 'NONE' to 'Not Enrolled'
puget['Academic_Load_Term_End'] = puget['Academic_Load_Term_End'].replace({'Full-Time': 'FT', 'F': 'FT',
                                                                              'Part-Time': 'PT', 'NONE': 'Not Enrolled'})

In [28]:
#Check again
#Find all unique values in the 'Academic_Load_Term_End' column
unique_values_Academic_Load_Term_End = puget['Academic_Load_Term_End'].unique()
unique_values_Academic_Load_Term_End

array(['FT', 'Not Enrolled', 'PT'], dtype=object)

In [29]:
#9
#Find all unique values in the 'FTE_for_Reporting' column
unique_values_FTE_for_Reporting = puget['FTE_for_Reporting'].unique()
unique_values_FTE_for_Reporting

array([1], dtype=int64)

In [30]:
#10
#Find all unique values in the 'Expected_Graduation' column
unique_values_Expected_Graduation = puget['Expected_Graduation'].unique()
unique_values_Expected_Graduation

array(['Spring 2019', '2194'], dtype=object)

In [31]:
#Change the value of '2194' to 'Spring 2019'
puget['Expected_Graduation'] = puget['Expected_Graduation'].replace('2194', 'Spring 2019')

In [32]:
#Check again
#Find all unique values in the 'Expected_Graduation' column
unique_values_Expected_Graduation = puget['Expected_Graduation'].unique()
unique_values_Expected_Graduation

array(['Spring 2019'], dtype=object)

In [33]:
#11
#Find all unique values in the 'Major' column
unique_values_Major = puget['Major'].unique()
unique_values_Major

#BLP (Business Leadership Program leading to a Bachelor of Arts degree

array(['Undeclared', 'BLP (BA)'], dtype=object)

In [34]:
#12
#Find all unique values in the 'NSC_Record_Found' column
unique_values_NSC_Record_Found = puget['NSC_Record_Found'].unique()
unique_values_NSC_Record_Found

array(['Y', 'YES', 'Yes', 'yes', 'NO', 'no', 'N'], dtype=object)

In [35]:
#Check the values of 'Y', 'Yes' and 'yes' to 'YES'; 'no' and 'N' to 'NO'
puget['NSC_Record_Found'] = puget['NSC_Record_Found'].replace({'Y': 'YES', 'Yes': 'YES', 'yes': 'YES',
                                                               'no': 'NO', 'N': 'NO'})

In [36]:
#Check again
#Find all unique values in the 'NSC_Record_Found' column
unique_values_NSC_Record_Found = puget['NSC_Record_Found'].unique()
unique_values_NSC_Record_Found

array(['YES', 'NO'], dtype=object)

In [37]:
#13
#Find all unique values in the 'NSC_College_Code' column
unique_values_NSC_College_Code = puget['NSC_College_Code'].unique()
unique_values_NSC_College_Code

array(['003797-00', '002171-00', '002144-00', '003407-00', '001191-00',
       '003798-00', '003787-00', '006777-00', '002532-00', '001320-00',
       '001166-00', '022427-00', '001233-00', '011161-00', '001232-00',
       '038713-00', '001286-00', '002130-00', '001178-00', '007115-00',
       '001199-00', '003005-00', '003835-00', '001124-00', '001287-00',
       '010395-00', '001203-00', '011649-00', '001326-00', '006973-00',
       '001312-00', '001150-00', '001151-00', '001275-00', '001758-00',
       '001774-00', '002565-00', '004480-00', '012452-00', '001181-00',
       '001434-00', '001321-00', '001334-00', '011820-00', '008903-00',
       '009542-00', '004509-00', '002199-00', '001948-00', '004508-00',
       '001346-00', '001360-00', '002920-00', '001611-00', '001610-00',
       '001616-00', '003681-00', '042118-00', '001626-00', '003769-00',
       '003219-00', '010182-00', '003223-00', '003211-00', '003198-00',
       '003213-00', '003216-00', '004878-00', '003875-00', '003204-00',
       '003218-00', '008155-00', '002798-00', '003790-00', '003792-00',
       '003197-00', '003796-00', '002521-00', '001250-00', '003388-00',
       nan, '001164-00', '001247-00', '001537-00', '007536-00',
       '001138-00', '002722-00', '001197-00', '002711-00', '001370-00',
       '021078-00', '005000-00', '002259-00', '002516-00', '002663-00',
       '022781-00', '003210-00', '003658-00', '003573-00', '003224-00',
       '005220-00', '003802-00', '034835-00', '003776-00', '001305-00',
       '001325-00', '009706-00', '001280-00', '003479-00', '001371-00',
       '002569-00', '003778-00', '001242-00', '004502-00', '003781-00',
       '001154-00', '007713-00', '001228-00', '001117-00', '001155-00',
       '004549-00', '005533-00', '003785-00', '003558-00', '003791-00',
       '003775-00', '008073-00', '008596-00', '001260-00', '012182-00',
       '011462-00', '007275-00', '006911-00', '003969-00', '001444-00',
       '002851-00', '001417-00', '002878-00', '007933-00', '009704-00',
       '001775-00', '009896-00', '001273-00', '001082-00', '001585-00',
       '003188-00', '002554-00', '012586-00', '007954-00', '041143-00',
       '020771-00', '003896-00', '003123-00', '003784-00', '003771-00',
       '010387-00', '001710-00', '001598-00', '003680-00', '002015-00',
       '002894-00', '001328-00', '001350-00', '008918-00', '025395-00',
       '001285-00', '001290-00', '001209-00', '001372-00', '001149-00',
       '001365-00', '003212-00', '006938-00', '003530-00', '021175-00',
       '012842-00', '009543-00', '003793-00', '003196-00', '020635-00',
       '003773-00', '003193-00', '002609-00', '020662-00', '003428-00',
       '001239-00', '002994-00', '002341-00', '001133-00', '006720-00',
       '001652-00', '005372-00', '001266-00', '001349-00', '002629-00',
       '002707-00', '022884-00', '001353-00', '001490-00'], dtype=object)

In [38]:
#14
#Find all unique values in the 'NSC_College_Name' column
unique_values_NSC_College_Name = puget['NSC_College_Name'].unique()
unique_values_NSC_College_Name

array(['UNIVERSITY OF PUGET SOUND', 'MASSACHUSETTS BAY COMMUNITY COLLEGE',
       'DEAN COLLEGE', 'RHODE ISLAND COLLEGE', 'DIABLO VALLEY COLLEGE',
       'UNIVERSITY OF WASHINGTON - SEATTLE', 'SEATTLE CENTRAL COLLEGE',
       'FLATHEAD VALLEY COMMUNITY COLLEGE',
       'MONTANA STATE UNIVERSITY - BOZEMAN',
       'UNIVERSITY OF CALIFORNIA-SANTA BARBARA', 'CITRUS COLLEGE',
       'BERKELEY CITY COLLEGE',
       'SACRAMENTO CITY COLLEGE-LOS RIOS CC DISTRICT',
       'TEXAS A&M UNIVERSITY - CORPUS CHRISTI',
       'AMERICAN RIVER COLLEGE LOS RIOS CC DISTRICT',
       'FOLSOM LAKE COLLEGE', 'SANTA MONICA COLLEGE', 'BOSTON UNIVERSITY',
       'COLLEGE OF MARIN', 'MOORPARK COLLEGE', 'FOOTHILL COLLEGE',
       'UNIVERSITY OF NORTH DAKOTA', 'BELOIT COLLEGE', 'CABRILLO COLLEGE',
       'SANTA ROSA JUNIOR COLLEGE', 'UNIVERSITY OF SAN DIEGO',
       'GLENDALE COMMUNITY COLLEGE', 'LOYOLA MARYMOUNT UNIVERSITY',
       'SANTA CLARA UNIVERSITY', 'CANADA COLLEGE',
       'UNIVERSITY OF CALIFORNIA - BERKELEY',
       'CALIFORNIA STATE UNIVERSITY - SACRAMENTO',
       'SAN DIEGO STATE UNIVERSITY', 'SAN DIEGO MESA COLLEGE',
       'SOUTHERN ILLINOIS UNIVERSITY CARBONDALE', 'UNIVERSITY OF CHICAGO',
       'UNIVERSITY OF NEBRASKA-LINCOLN', 'DE ANZA COLLEGE',
       'EVERGREEN VALLEY COLLEGE', 'COLLEGE OF SAN MATEO',
       'AMERICAN UNIVERSITY', 'UNIVERSITY OF CALIFORNIA-SANTA CRUZ',
       'VENTURA COLLEGE', 'SAN DIEGO MIRAMAR COLLEGE',
       'COLLEGE OF THE CANYONS', 'COMMUNITY COLLEGE OF DENVER',
       'UNIVERSITY OF COLORADO COLORADO SPRINGS',
       'NORTHEASTERN UNIVERSITY', 'UNIVERSITY OF KANSAS',
       'UNIVERSITY OF COLORADO  DENVER', 'ARAPAHOE COMMUNITY COLLEGE',
       'METROPOLITAN STATE UNIVERSITY OF DENVER', 'DUKE UNIVERSITY',
       'UNIVERSITY OF HAWAII AT HILO', 'UNIVERSITY OF HAWAII AT MANOA',
       'BOISE STATE UNIVERSITY', 'WESTMINSTER COLLEGE OF SALT LAKE CITY',
       'COLLEGE OF WESTERN IDAHO', 'UNIVERSITY OF IDAHO',
       'BELLEVUE COLLEGE', 'SOUTHERN OREGON UNIVERSITY',
       'ROGUE COMMUNITY COLLEGE', 'UNIVERSITY OF OREGON',
       'OREGON INSTITUTE OF TECHNOLOGY', 'LINFIELD COLLEGE',
       'PORTLAND COMMUNITY COLLEGE', 'PORTLAND STATE UNIVERSITY',
       'CLACKAMAS COMMUNITY COLLEGE', 'NORTHLAND COLLEGE',
       'MT. HOOD COMMUNITY COLLEGE', 'CHEMEKETA COMMUNITY COLLEGE',
       'THE EVERGREEN STATE COLLEGE', 'PRATT INSTITUTE',
       'SEATTLE UNIVERSITY', 'SKAGIT VALLEY COLLEGE',
       'LEWIS & CLARK COLLEGE OF ARTS & SCIENCES',
       'TACOMA COMMUNITY COLLEGE', 'WEBSTER UNIVERSITY  SEMESTER',
       'ORANGE COAST COLLEGE', 'VILLANOVA UNIVERSITY', nan,
       'CHAPMAN UNIVERSITY-ORANGE', 'NAPA VALLEY COLLEGE',
       'UNIVERSITY OF SOUTH FLORIDA',
       'COSUMNES RIVER COLLEGE-LOS RIOS CC DISTRICT',
       'CALIFORNIA STATE UNIVERSITY - EAST BAY', 'FORDHAM UNIVERSITY',
       'EL CAMINO COLLEGE', 'CORNELL UNIVERSITY',
       'UNIVERSITY OF COLORADO BOULDER',
       'UNIVERSITY OF HAWAII AT WEST OAHU', 'PIERCE COLLEGE',
       'EASTERN MICHIGAN UNIVERSITY', 'UNIVERSITY OF MISSOURI-COLUMBIA',
       'UNIVERSITY OF NEW MEXICO', 'SANTA FE COMMUNITY COLLEGE',
       'OREGON STATE UNIVERSITY', 'UNIVERSITY OF TEXAS AT AUSTIN',
       'HILL COLLEGE', 'UNIVERSITY OF PORTLAND',
       'SALT LAKE COMMUNITY COLLEGE', 'WESTERN WASHINGTON UNIVERSITY',
       'CASCADIA COMMUNITY COLLEGE', 'EVERETT COMMUNITY COLLEGE',
       'STANFORD UNIVERSITY', 'UNIVERSITY OF SAN FRANCISCO',
       'SOUTH SEATTLE COLLEGE', 'SAN JOAQUIN DELTA COLLEGE',
       'BELMONT UNIVERSITY', 'UNIVERSITY OF DENVER - COLORADO',
       'UNIVERSITY OF NEVADA LAS VEGAS', 'GONZAGA UNIVERSITY',
       'MONTEREY PENINSULA COLLEGE', 'CITY COLLEGE OF SAN FRANCISCO',
       'HIGHLINE COLLEGE', 'SAN FRANCISCO STATE UNIVERSITY',
       'SKYLINE COLLEGE', 'LOS ANGELES VALLEY COLLEGE',
       'AZUSA PACIFIC UNIVERSITY- UNDERGRADUATE',
       'SAN JOSE STATE UNIVERSITY', 'LEEWARD COMMUNITY COLLEGE',
       'SAINT PAUL COLLEGE', 'PACIFIC LUTHERAN UNIVERSITY',
       'NORTH CENTRAL TEXAS COLLEGE', 'SHORELINE COMMUNITY COLLEGE',
       'EASTERN WASHINGTON UNIVERSITY', 'BUTTE COLLEGE',
       'WEST LOS ANGELES COLLEGE', 'PALOMAR COLLEGE',
       'CHATTAHOOCHEE VALLEY COMMUNITY COLLEGE',
       'UNIVERSITY OF ALASKA ANCHORAGE',
       'EASTERN GATEWAY COMMUNITY COLLEGE', 'MONTGOMERY COLLEGE',
       'UNIVERSITY OF MINNESOTA-TWIN CITIES UNDERGRADUATE',
       'GEORGE WASHINGTON UNIVERSITY', 'SUNY COLLEGE OF ENVIRONMENTAL',
       'UNIVERSITY OF CONNECTICUT',
       'SUNY SUFFOLK COUNTY COMMUNITY COLLEGE',
       'FRONT RANGE COMMUNITY COLLEGE', 'NORTH SEATTLE COLLEGE',
       'UNIVERSITY OF ILLINOIS @ URBANA', 'OAKTON COMMUNITY COLLEGE',
       'SAN DIEGO CITY COLLEGE', 'NORTHERN ARIZONA UNIVERSITY',
       'UNIVERSITY OF NORTH GEORGIA', 'CENTRAL OREGON COMMUNITY COLLEGE',
       'UNIVERSITY OF NEBRASKA AT OMAHA',
       'METROPOLITAN COMMUNITY COLLEGE', 'NORMANDALE COMMUNITY COLLEGE',
       'NEVADA STATE COLLEGE', 'MILWAUKEE INSTITUTE OF ART & DESIGN',
       'UNIVERSITY OF WISCONSIN - MILWAUKEE', 'UNIVERSITY OF AKRON',
       'OLYMPIC COLLEGE', 'CENTRAL WASHINGTON UNIVERSITY',
       'EL PASO COMMUNITY COLLEGE', 'LOYOLA UNIVERSITY CHICAGO',
       'UNIVERSITY OF GEORGIA', 'WEBER STATE UNIVERSITY',
       'UNIVERSITY OF NEW ORLEANS', 'UNIVERSITY OF ROCHESTER',
       'UNIVERSITY OF SOUTHERN CALIFORNIA', 'COLORADO STATE UNIVERSITY',
       'SADDLEBACK COLLEGE', 'IRVINE VALLEY COLLEGE',
       'SANTA BARBARA CITY COLLEGE', 'SIERRA COLLEGE', 'HARTNELL COLLEGE',
       'WESTERN STATE COLORADO UNIVERSITY', 'HUMBOLDT STATE UNIVERSITY',
       'COLORADO STATE UNIVERSITY - PUEBLO', 'PACIFIC UNIVERSITY',
       'LINN-BENTON COMMUNITY COLLEGE', 'UNIVERSITY OF TENNESSEE',
       'NAROPA UNIVERSITY', 'OXNARD COLLEGE',
       'RED ROCKS COMMUNITY COLLEGE', 'SPOKANE COMMUNITY COLLEGE',
       'LANE COMMUNITY COLLEGE', 'COASTLINE COMMUNITY COLLEGE',
       'CLARK COLLEGE', 'EASTERN OREGON UNIVERSITY', 'ROWAN UNIVERSITY',
       'THE NEW SCHOOL', 'COLLEGE OF CHARLESTON', 'MIRACOSTA COLLEGE',
       'MINOT STATE UNIVERSITY', 'COLLEGE OF SAINT BENEDICT',
       'CALIFORNIA LUTHERAN UNIVERSITY', 'COLLEGE OF ALAMEDA',
       'CITY OF CHICAGO - HAROLD WASHINGTON COLLEGE',
       'SOUTH PUGET SOUND COMMUNITY COLLEGE', 'LANEY COLLEGE',
       'UNIVERSITY OF NORTHERN COLORADO',
       'RUTGERS -THE STATE UNIVERSITY OF NJ -NEW BRUNSWICK',
       'COLUMBIA UNIVERSITY', 'GWINNETT TECHNICAL COLLEGE',
       'FORT LEWIS COLLEGE', 'GULF COAST STATE COLLEGE'], dtype=object)

In [39]:
#15
#Find all unique values in the 'NSC_College_State' column
unique_values_NSC_College_State = puget['NSC_College_State'].unique()
unique_values_NSC_College_State

array(['WA', 'MA', 'RI', 'CA', 'MT', 'TX', 'ND', 'WI', 'IL', 'NE', 'DC',
       'CO', 'KS', 'NC', 'HI', 'ID', 'UT', 'OR', 'NY', 'MO', 'PA', nan,
       'FL', 'MI', 'NM', 'TN', 'NV', 'MN', 'AL', 'AK', 'OH', 'MD', 'CT',
       'AZ', 'GA', 'LA', 'NJ', 'SC'], dtype=object)

In [40]:
#16
#Find all unique values in the 'NSC_College_Sequence' column
unique_values_NSC_College_Sequence = puget['NSC_College_Sequence'].unique()
unique_values_NSC_College_Sequence

array([ 1.,  2.,  3.,  4.,  5., nan])

In [41]:
#17
#Find all unique values in the 'NSC_2_Year_or_4_Year' column
unique_values_NSC_2_Year_or_4_Year = puget['NSC_2_Year_or_4_Year'].unique()
unique_values_NSC_2_Year_or_4_Year

array([ 4.,  2., nan])

In [42]:
#18
#Find all unique values in the 'NSC_Public_or_Private' column
unique_values_NSC_Public_or_Private = puget['NSC_Public_or_Private'].unique()
unique_values_NSC_Public_or_Private

array(['Private', 'Public', nan], dtype=object)

In [43]:
#19
#Find all unique values in the 'NSC_Enrollment_Begin' column
unique_values_NSC_Enrollment_Begin = puget['NSC_Enrollment_Begin'].unique()
unique_values_NSC_Enrollment_Begin

array([20150831., 20160119., 20160516., 20160829., 20170117., 20170515.,
       20170828., 20180116., 20180827., 20190122.,       nan, 20160523.,
       20150518., 20130122., 20150112., 20170103., 20170327., 20170927.,
       20180103., 20180326., 20180926., 20190107., 20190401., 20160926.,
       20140609., 20140828., 20180110., 20190109., 20170928., 20180402.,
       20180927., 20160620., 20170626., 20180514., 20180618., 20140823.,
       20170905., 20180529., 20180702., 20160820., 20170114., 20170605.,
       20140118., 20150117., 20180212., 20190101., 20190211., 20180118.,
       20180904., 20190521., 20140818., 20130819., 20140106., 20140520.,
       20050926., 20060410., 20060925., 20070409., 20070924., 20080107.,
       20080922., 20090105., 20090406., 20100104., 20100405., 20110103.,
       20120822., 20160822., 20170116., 20180122., 20190121., 20190128.,
       20170821., 20180117., 20180820., 20160606., 20170109., 20170410.,
       20170906., 20180129., 20180905., 20190103., 20170619., 20160613.,
       20160919., 20170403., 20170918., 20180108., 20180403., 20180917.,
       20160120., 20180521., 20180815., 20190115., 20170819., 20180113.,
       20160116., 20190123., 20170130., 20180611., 20120618., 20130617.,
       20170612., 20170923., 20180105., 20180922., 20190104., 20170123.,
       20130923., 20190114., 20170206., 20180604., 20150120., 20160907.,
       20180507., 20170606., 20180605., 20170807., 20180101., 20180806.,
       20170530., 20170111., 20140101., 20170522., 20170508., 20170823.,
       20140825., 20130826., 20140115., 20140929., 20150105., 20130401.,
       20170925., 20130930., 20140331., 20160208., 20180205., 20150330.,
       20190429., 20180924., 20180625., 20140604., 20130925., 20140924.,
       20170705., 20140623., 20140922., 20150511., 20180530., 20190102.,
       20180102., 20160104., 20160404., 20180409., 20160817., 20170520.,
       20170814., 20140401., 20160531., 20130624., 20180829., 20160823.,
       20170125., 20170822., 20180124., 20180823., 20170104., 20160824.,
       20170601., 20170830., 20180822., 20130821., 20140113., 20140820.,
       20160921., 20180109., 20120924., 20120625., 20140630., 20110928.,
       20130107., 20190108., 20190402., 20070108., 20080407., 20140407.,
       20160627., 20150406., 20160106., 20170911., 20180910., 20130114.,
       20160519., 20120611., 20170703., 20050103., 20060109., 20160912.,
       20120117., 20170816., 20170817., 20140616., 20160901., 20140123.,
       20150622., 20160125., 20130610., 20130814., 20140110., 20140902.,
       20180814., 20160812., 20180818., 20171122., 20161217., 20160603.,
       20160111., 20180115., 20111202., 20160906., 20140903., 20150216.,
       20161219., 20171218., 20190403., 20160105., 20160329., 20170328.,
       20170920., 20180327., 20180919., 20160117., 20170422., 20160809.,
       20170101., 20170808., 20180508., 20180807., 20140120., 20160831.,
       20170118., 20190116., 20140707., 20150209., 20150615., 20180120.,
       20160819., 20130903., 20160113., 20160602., 20180531., 20140121.,
       20170516., 20160705., 20150331., 20170825., 20120109., 20180626.,
       20170710., 20130820., 20110926., 20180606., 20170525., 20180525.,
       20180430., 20140512., 20180825., 20190119., 20170810., 20160801.])

In [44]:
#20
#Find all unique values in the 'NSC_Enrollment_End' column
unique_values_NSC_Enrollment_End = puget['NSC_Enrollment_End'].unique()
unique_values_NSC_Enrollment_End

array([20151218., 20160513., 20160812., 20161216., 20170512., 20170811.,
       20171215., 20180511., 20181214., 20190517.,       nan, 20160819.,
       20150813., 20130513., 20150520., 20170317., 20170609., 20180316.,
       20180608., 20190322., 20190614., 20161215., 20140815., 20141218.,
       20180504., 20190503., 20180112., 20180323., 20180615., 20170818.,
       20180810., 20180726., 20171206., 20180502., 20180629., 20180803.,
       20181205., 20170517., 20170803., 20140521., 20171219., 20180612.,
       20181218., 20190207., 20190611., 20171221., 20181221., 20190511.,
       20190627., 20141213., 20131218., 20140519., 20140808., 20141217.,
       20051216., 20060630., 20061215., 20070629., 20071214., 20080328.,
       20081212., 20090327., 20090626., 20100326., 20100625., 20110325.,
       20121221., 20161213., 20170509., 20180515., 20190514., 20181215.,
       20190525., 20171222., 20180525., 20160916., 20170331., 20170630.,
       20180523., 20190123., 20190523., 20180824., 20170616., 20170727.,
       20160721., 20161209., 20170324., 20170615., 20171208., 20180614.,
       20181207., 20190613., 20160527., 20140806., 20171214., 20180516.,
       20160425., 20160518., 20160804., 20151006., 20181219., 20190516.,
       20161217., 20170527., 20171216., 20180526., 20120825., 20180809.,
       20180923., 20130725., 20170817., 20170520., 20160817., 20180813.,
       20131213., 20170812., 20190510., 20161210., 20170601., 20180818.,
       20160307., 20140919., 20150516., 20170429., 20180428., 20180630.,
       20190427., 20170728., 20180622., 20180727., 20180518., 20190518.,
       20170807., 20160730., 20170729., 20180512., 20170506., 20150511.,
       20140517., 20141231., 20170813., 20180329., 20141220., 20131220.,
       20140516., 20161011., 20170810., 20141212., 20150320., 20130614.,
       20140613., 20160526., 20170130., 20170525., 20180130., 20180524.,
       20140615., 20150322., 20150614., 20140614., 20150321., 20130615.,
       20180420., 20190418., 20190524., 20131214., 20140322., 20150613.,
       20170910., 20170902., 20180324., 20180616., 20180901., 20181208.,
       20190323., 20161206., 20170617., 20160304., 20160722., 20140802.,
       20190615., 20170828., 20180503., 20140814., 20141211., 20150612.,
       20150731., 20180527., 20180817., 20180730., 20181213., 20190321.,
       20170128., 20180127., 20180519., 20160325., 20160624., 20180914.,
       20160528., 20170519., 20170808., 20180907., 20161208., 20171011.,
       20160806., 20130802., 20181220., 20170523., 20180522., 20180823.,
       20170323., 20171213., 20180322., 20181212., 20150427., 20160729.,
       20151109., 20170513., 20171209., 20180728., 20180816., 20170908.,
       20170326., 20171217., 20161214., 20170516., 20170708., 20171220.,
       20190521., 20171207., 20161101., 20131212., 20140508., 20150116.,
       20150606., 20121214., 20120817., 20130816., 20140822., 20111216.,
       20140321., 20130322., 20150522., 20130817., 20070330., 20080627.,
       20190329., 20170722., 20140328., 20140627., 20131211., 20140326.,
       20140620., 20141210., 20150325., 20150619., 20160805., 20160503.,
       20170502., 20171212., 20180501., 20181211., 20190430., 20171121.,
       20180317., 20180607., 20181120., 20160311., 20150807., 20170718.,
       20130521., 20160810., 20120815., 20130524., 20170814., 20160826.,
       20170701., 20170826., 20180825., 20050325., 20060331., 20161122.,
       20170608., 20181217., 20120525., 20140709., 20160828., 20161231.,
       20170505., 20170825., 20140513., 20170224., 20150515., 20160923.,
       20141015., 20140206., 20140619., 20150814., 20170223., 20171114.,
       20180330., 20170518., 20130727., 20131219., 20140523., 20141221.,
       20170827., 20151112., 20130812., 20141215., 20160219., 20160701.,
       20180802., 20180804., 20181209., 20190512., 20160401., 20170503.,
       20141214., 20181231., 20161005., 20170403., 20170721., 20190522.,
       20161218., 20170618., 20180325., 20180617., 20171224., 20160815.,
       20160429., 20170804., 20150120., 20190515., 20120227., 20170815.,
       20161222., 20141219., 20150513., 20130323., 20180505., 20180811.,
       20180222., 20161223., 20171223., 20131216., 20131215., 20140612.,
       20150430., 20190325., 20160508., 20160821., 20161211., 20170306.,
       20170824., 20190621., 20160317., 20160609., 20190315., 20190227.,
       20141208., 20160514., 20180208., 20170930., 20170830., 20160808.,
       20170508., 20171231., 20180507., 20180806., 20190513., 20140514.,
       20180427., 20160727., 20170515., 20180513., 20140804., 20160121.,
       20180410., 20160412., 20190126., 20160523., 20150607., 20150830.,
       20170805., 20160520., 20170526., 20180908., 20160419., 20161114.,
       20131221., 20160506., 20190519., 20160809., 20180508., 20181108.,
       20190507., 20181001., 20170510., 20140823., 20160818., 20160811.,
       20150611., 20150502., 20170531., 20120324., 20140809., 20161202.,
       20170901., 20151209., 20171218., 20180514., 20161021., 20111210.,
       20121207., 20150508., 20181210., 20150623., 20180815., 20181223.,
       20180714., 20160212., 20170428., 20190426., 20151103., 20160504.])

In [45]:
#21
#Find all unique values in the 'NSC_Graduated' column
unique_values_NSC_Graduated = puget['NSC_Graduated'].unique()
unique_values_NSC_Graduated

array(['N', 'Y'], dtype=object)

In [46]:
#Change 'N' to 'NO' and 'Y' to 'YES"
puget['NSC_Graduated'] = puget['NSC_Graduated'].replace({'N': 'NO', 'Y': 'YES'})

In [47]:
#Check again
#Find all unique values in the 'NSC_Graduated' column
unique_values_NSC_Graduated = puget['NSC_Graduated'].unique()
unique_values_NSC_Graduated

array(['NO', 'YES'], dtype=object)

In [48]:
#22
#Find all unique values in the 'NSC_Degree_Title' column
unique_values_NSC_Degree_Title = puget['NSC_Degree_Title'].unique()
unique_values_NSC_Degree_Title

array([nan, 'BACHELOR OF SCIENCE', 'BACHELOR OF ARTS', 'BS',
       'ASSOCIATE IN ARTS', 'ASSOCIATE IN SCIENCE',
       'CERTIFICATE 30 - 59.99 UNITS', 'BACHELOR OF MUSIC',
       'ASSOCIATE ARTS & SCIENCES- DTA', 'BA',
       'ASSOC OF ARTS - (AA - DTA)', 'ASSOCIATE DEGREE',
       'ASSOCIATE IN ARTS- DTA#', 'BS  LIBERAL ARTS AND SCIENCE', 'B S',
       'BACHELOR OF SCI IN AGRICULTURE', 'CERTIFICATE OF ACHIEVEMENT',
       'EMERGENCY CARE FOR FIRST RESPONDERS CERTIFICATE',
       'EMERGENCY MEDICAL TECHNICIAN (EMT-BASIC) CERTIFICATE'],
      dtype=object)

In [49]:
#23
#Find all unique values in the 'NSC_Degree_Major_1' column
unique_values_NSC_Degree_Major_1 = puget['NSC_Degree_Major_1'].unique()
unique_values_NSC_Degree_Major_1

array([nan, 'COMPUTER SCI/BUSINESS (BS)', 'ENGLISH (BA)',
       'PSYCHOLOGY (BA)', 'INTL POLITICAL ECON (BA)',
       'MATHEMATICS (STANDARD) (BS)', 'BIOLOGY (BS)',
       'ENGLISH (CR. WRITING FOCUS)', 'COMPUTER SCI (STANDARD) (BS)',
       'BLP (BA)', 'POLITICAL SCIENCE', 'POL & GOVT (U.S.) (BA)',
       'ART STUDIO (PAINTING) (BA)', 'BIOMEDICAL SCIENCES',
       'MOLECULAR AND CELL BIOL (BS)', 'BIOCHEMISTRY (BS)',
       'BUSINESS ADMINISTRATION (BA)', 'ECONOMICS (BA)', 'ECONOMICS (BS)',
       'MOLECULAR CELLULAR AND INTEGRATIVE BIOLOGY',
       'NATURAL SCIENCE (BIOL) (BS)', 'HISTORY (BA)', 'MATHEMATICS',
       'BUS ADMIN-TRANSFER(CSU GE)', 'CSU GENERAL ED', 'GEOLOGY (BS)',
       'COMMUNICATION STUDIES (BA)', 'CLASSICS (LANGUAGE) (BA)',
       'NATURAL SCIENCE (GEOL) (BS)', 'PHYSICS (BS)',
       'CHINESE (LANG/CULTURE) (BA)', 'SOCIOLOGY & ANTHROPOLOGY (BA)',
       'COMPUTER SCI (CONTRACT) (BS)', 'POL & GOVT (INTRNTL) (BA)',
       'RELIGIOUS STUDIES (BA)', 'MUSIC (BA)', 'CHEMISTRY (BS)',
       'JAPANESE (LANG/CULTURE) (BA)', 'EXERCISE SCIENCE (BS)',
       'GERMAN STUDIES (BA)', 'POL & GOVT (COMPARATIVE) (BA)',
       'BUSINESS (INTERNATIONAL) (BA)', 'MARKETING',
       'PERFORMANCE (VOICE) (BM)', 'SPANISH', 'BUSINESS (GENERAL) (BA)',
       'NATURAL SCIENCE (CHEM) (BS)', 'SCIENCETECH & SOC (BA)',
       'MUSIC ED (INSTRML) (BM)', 'NOT APPLICABLE', 'PSYCHOLOGY',
       'RELIGIOUS STUDIES', 'CLASSICS (CLASSICAL STD) (BA)',
       'BUSINESS ADMINISTRATION', 'FILM', 'JOUR:ADVERTISING',
       'SPANISH CULTURE AND LIT (BA)', 'THEATRE ARTS (BA)',
       'ASSOCIATE OF ARTS - DTA', 'PHILOSOPHY (BA)',
       'POL & GOVT (POL THEORY) (BA)', 'ART HISTORY (BA)', 'ART',
       'INTER-COLLEGE PROGRAM B S', 'AGRICULTURAL EDUCATION',
       'AFRICAN & AFRICAN-AMERICAN STU', 'ART STUDIO (SCULPTURE) (BA)',
       'HISTORY', 'GENERAL EDUCATION: IGETC', 'SPECIAL INTRDPLNY (BA)',
       'CONTEMPLATIVE PSYCHOLOGY', 'ECONOMICS', 'PERFORMANCE (ORCH) (BM)',
       'THE ARTS', 'EMERGENCY CARE FOR FIRST RESPONDERS',
       'EMERGENCY MEDICAL TECHNICIAN (EMT-BASIC)', 'SOCIAL WORK',
       'MUSIC BUSINESS (BM)'], dtype=object)

In [50]:
#24
#Find all unique values in the 'NSC_Degree_Major_2' column
unique_values_NSC_Degree_Major_2 = puget['NSC_Degree_Major_2'].unique()
unique_values_NSC_Degree_Major_2

array([nan, 'BUSINESS (GENERAL) (BA)', 'HISTORY (BA)',
       'INTL POLITICAL ECON (BA)', 'MATHEMATICS (STANDARD) (BS)',
       'SPANISH CULTURE AND LIT (BA)', 'POL & GOVT (COMPARATIVE) (BA)',
       'COMMUNICATION STUDIES (BA)', 'ENGLISH (CR WRIT FOCUS) (BA)',
       'ENVR POLICY & DEC MKG (BA)', 'BUSINESS ADMINISTRATION (BA)',
       'CHINESE (LANG/CULTURE) (BA)', 'PERFORMANCE (ORCH) (BM)',
       'GERMAN STUDIES (BA)', 'AFRICAN-AMERICAN STUDIES (BA)',
       'ECONOMICS (BA)', 'MUSIC (BA)', 'THEATRE ARTS (BA)',
       'FRENCH (MUSIC FOCUS) (BA)', 'SOCIOLOGY & ANTHROPOLOGY (BA)',
       'JAPANESE (LANG/CULTURE) (BA)', 'ART (STUDIO - PAINTING) (BA)',
       'PHILOSOPHY (BA)', 'POL & GOVT (U.S.) (BA)',
       'POL & GOVT (INTRNTL) (BA)', 'FRENCH (ART FOCUS) (BA)',
       'CHEMISTRY (BA)', 'PHYSICS (BS)'], dtype=object)

In [51]:
puget.head()

,Student_ID,Enrollment_Term,Term_Type,Student_Academic_Career,Degree_Seeking,Study_Form,Academic_Load_Term_Start,Academic_Load_Term_End,FTE_for_Reporting,Expected_Graduation,...,NSC_College_State,NSC_College_Sequence,NSC_2_Year_or_4_Year,NSC_Public_or_Private,NSC_Enrollment_Begin,NSC_Enrollment_End,NSC_Graduated,NSC_Degree_Title,NSC_Degree_Major_1,NSC_Degree_Major_2
0,465,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,1.0,4.0,Private,20150831.0,20151218.0,NO,NaN,NaN,NaN
1,465,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,1.0,4.0,Private,20160119.0,20160513.0,NO,NaN,NaN,NaN
2,465,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,1.0,4.0,Private,20160516.0,20160812.0,NO,NaN,NaN,NaN
3,465,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,1.0,4.0,Private,20160829.0,20161216.0,NO,NaN,NaN,NaN
4,465,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,1.0,4.0,Private,20170117.0,20170512.0,NO,NaN,NaN,NaN

In [52]:
#Select and display the row #1
first_row = puget.iloc[0]
first_row

Student_ID                                        465
Enrollment_Term                             Fall 2015
Term_Type                                        Fall
Student_Academic_Career                 Undergraduate
Degree_Seeking                                 Degree
Study_Form                                   Enrolled
Academic_Load_Term_Start                           FT
Academic_Load_Term_End                             FT
FTE_for_Reporting                                   1
Expected_Graduation                       Spring 2019
Major                                      Undeclared
NSC_Record_Found                                  YES
NSC_College_Code                            003797-00
NSC_College_Name            UNIVERSITY OF PUGET SOUND
NSC_College_State                                  WA
NSC_College_Sequence                              1.0
NSC_2_Year_or_4_Year                              4.0
NSC_Public_or_Private                         Private
NSC_Enrollment_Begin                       20150831.0
NSC_Enrollment_End                         20151218.0
NSC_Graduated                                      NO
NSC_Degree_Title                                  NaN
NSC_Degree_Major_1                                NaN
NSC_Degree_Major_2                                NaN
Name: 0, dtype: object

In [53]:
#Select the row(s) where the 'NSC_College_Name' is 'UNIVERSITY OF SAN FRANCISCO'
usf_rows = puget[puget['NSC_College_Name'] == 'UNIVERSITY OF SAN FRANCISCO']
usf_rows

,Student_ID,Enrollment_Term,Term_Type,Student_Academic_Career,Degree_Seeking,Study_Form,Academic_Load_Term_Start,Academic_Load_Term_End,FTE_for_Reporting,Expected_Graduation,...,NSC_College_State,NSC_College_Sequence,NSC_2_Year_or_4_Year,NSC_Public_or_Private,NSC_Enrollment_Begin,NSC_Enrollment_End,NSC_Graduated,NSC_Degree_Title,NSC_Degree_Major_1,NSC_Degree_Major_2
2368,543,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,CA,2.0,4.0,Private,20160523.0,20160812.0,NO,NaN,NaN,NaN

In [54]:
#Select and display the row #2368
row_2368 = puget.iloc[2368]
row_2368

Student_ID                                          543
Enrollment_Term                               Fall 2015
Term_Type                                          Fall
Student_Academic_Career                   Undergraduate
Degree_Seeking                                   Degree
Study_Form                                     Enrolled
Academic_Load_Term_Start                             FT
Academic_Load_Term_End                               FT
FTE_for_Reporting                                     1
Expected_Graduation                         Spring 2019
Major                                        Undeclared
NSC_Record_Found                                    YES
NSC_College_Code                              001325-00
NSC_College_Name            UNIVERSITY OF SAN FRANCISCO
NSC_College_State                                    CA
NSC_College_Sequence                                2.0
NSC_2_Year_or_4_Year                                4.0
NSC_Public_or_Private                           Private
NSC_Enrollment_Begin                         20160523.0
NSC_Enrollment_End                           20160812.0
NSC_Graduated                                        NO
NSC_Degree_Title                                    NaN
NSC_Degree_Major_1                                  NaN
NSC_Degree_Major_2                                  NaN
Name: 2368, dtype: object

In [55]:
##Select the row(s) where the 'NSC_College_Name' is 'SEATTLE CENTRAL COLLEGE'
scc_rows = puget[puget['NSC_College_Name'] == 'SEATTLE CENTRAL COLLEGE']
scc_rows

,Student_ID,Enrollment_Term,Term_Type,Student_Academic_Career,Degree_Seeking,Study_Form,Academic_Load_Term_Start,Academic_Load_Term_End,FTE_for_Reporting,Expected_Graduation,...,NSC_College_State,NSC_College_Sequence,NSC_2_Year_or_4_Year,NSC_Public_or_Private,NSC_Enrollment_Begin,NSC_Enrollment_End,NSC_Graduated,NSC_Degree_Title,NSC_Degree_Major_1,NSC_Degree_Major_2
41,227,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,2.0,4.0,Public,20160926.0,20161215.0,NO,NaN,NaN,NaN
2178,489,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,2.0,4.0,Public,20120625.0,20120817.0,NO,NaN,NaN,NaN
2179,489,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,2.0,4.0,Public,20130624.0,20130816.0,NO,NaN,NaN,NaN
2180,489,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,2.0,4.0,Public,20140630.0,20140822.0,NO,NaN,NaN,NaN
2181,489,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,2.0,4.0,Public,20180625.0,20180817.0,NO,NaN,NaN,NaN
2236,230,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,2.0,4.0,Public,20120625.0,20120817.0,NO,NaN,NaN,NaN
2237,230,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,2.0,4.0,Public,20130624.0,20130816.0,NO,NaN,NaN,NaN
2238,230,Fall 2015,Fall,Undergraduate,Degree,Enrolled,FT,FT,1,Spring 2019,...,WA,2.0,4.0,Public,20140630.0,20140822.0,NO,NaN,NaN,NaN

In [56]:
#Select and display the row #41
row_41 = puget.iloc[41]
row_41

Student_ID                                      227
Enrollment_Term                           Fall 2015
Term_Type                                      Fall
Student_Academic_Career               Undergraduate
Degree_Seeking                               Degree
Study_Form                                 Enrolled
Academic_Load_Term_Start                         FT
Academic_Load_Term_End                           FT
FTE_for_Reporting                                 1
Expected_Graduation                     Spring 2019
Major                                    Undeclared
NSC_Record_Found                                YES
NSC_College_Code                          003787-00
NSC_College_Name            SEATTLE CENTRAL COLLEGE
NSC_College_State                                WA
NSC_College_Sequence                            2.0
NSC_2_Year_or_4_Year                            4.0
NSC_Public_or_Private                        Public
NSC_Enrollment_Begin                     20160926.0
NSC_Enrollment_End                       20161215.0
NSC_Graduated                                    NO
NSC_Degree_Title                                NaN
NSC_Degree_Major_1                              NaN
NSC_Degree_Major_2                              NaN
Name: 41, dtype: object

In [116]:
#Convert the pandas dataframe to an CSV file
puget.to_csv('updated_puget.csv')